{% extends "base.html" %}
{% block title %}Not found{% endblock %}
{% block head %}
{% call super() %}
{% endblock %}
{% block content %}
<div class="flex flex-col items-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis metus vulputate, finibus neque non, iaculis nisl. Etiam lacinia eros erat, ut tempor ex scelerisque eget. Suspendisse sed luctus ex, id pretium diam. Fusce vehicula orci sed metus malesuada mattis. Pellentesque gravida, metus ac varius rutrum, augue urna placerat purus, et porta justo tortor maximus neque. Quisque id finibus quam. Suspendisse semper neque ut molestie lacinia. Quisque pharetra interdum mauris quis tempor.
    </p>
    <p>
        Pellentesque pharetra cursus nunc, sed feugiat nisl posuere id. Quisque at neque nibh. In pulvinar malesuada interdum. Aenean congue a neque quis scelerisque. Mauris facilisis laoreet ante, quis fringilla nisi aliquam eu. Nam et lacus nec sem accumsan porttitor. Vivamus tempor odio eget sapien tincidunt fermentum. Donec eleifend metus elit, ut varius arcu dignissim sit amet.
    </p>
    <p>
        Nulla laoreet convallis lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vestibulum volutpat leo at aliquam. Aenean vitae magna sit amet est mollis lacinia ac sed nisl. Donec nunc justo, pharetra sed mollis non, vehicula a nulla. Duis auctor tempus imperdiet. Cras sed ligula mauris. Pellentesque non gravida ipsum. Integer vitae massa vitae lectus consectetur aliquam et vel dui. Curabitur efficitur augue sit amet ex rutrum condimentum. Aliquam et elit vel tellus aliquam fermentum. Vivamus fermentum odio et libero viverra, ut laoreet ante egestas. Nam id arcu dolor. Integer ut nibh molestie, mattis nunc sit amet, congue mauris. Sed et libero volutpat, dignissim eros et, venenatis ligula. Vestibulum faucibus nisl id lorem bibendum, ac cursus nunc malesuada.
    </p>
    <p>
        Vestibulum dignissim leo sit amet lacus ultricies, vitae eleifend quam rhoncus. Aliquam pulvinar vehicula dolor, eget vehicula sem tincidunt id. Pellentesque et lorem ut massa eleifend consectetur ut quis erat. Mauris pellentesque magna ipsum, mollis molestie erat faucibus in. Nulla sodales nunc eu mi accumsan vulputate. Duis tempor porttitor est vel interdum. Sed semper volutpat aliquet. Cras scelerisque tellus vel mi ultricies suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    </p>
    <p>
        Etiam nisl sapien, varius sed luctus nec, lobortis ut ante. Praesent convallis molestie suscipit. Aenean in sem sed ante sagittis fermentum eget id diam. Pellentesque aliquam cursus feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi leo nisi, ultrices eget enim sed, accumsan fringilla risus. In hac habitasse platea dictumst. Donec varius ipsum faucibus, sollicitudin odio ac, euismod justo. Sed commodo placerat imperdiet. Suspendisse turpis nibh, aliquam in consectetur sed, faucibus eget libero. Sed lobortis mattis urna, ultricies placerat ante molestie eu. Suspendisse sed dictum leo. Vestibulum viverra arcu dui, eu cursus lectus porttitor vel.
    </p>
</div>
{% endblock %}